.container {
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin-inline: auto;
  padding-block: var(--layout-block-spacing);
  padding-inline: var(--layout-gutter);
}

.narrow {
  max-width: var(--layout-content-narrow);
}

.default {
  max-width: var(--layout-content);
}

.wide {
  max-width: var(--layout-content-wide);
}
